html {
  scroll-behavior: smooth;
}

.jumbotron {
  background-image: url("/images/02-hero-bg.jpg");
  background-size: cover;
}

.navbar-brand {
  background-color: aqua;
}

.navbar-nav .nav-link {
  /* outline: 1px red solid; */
  border-bottom: 2px solid rgba(0, 255, 255, 0.5);
}

.navbar-nav .nav-link:hover {
  /* outline: 1px red solid; */
  border-bottom: 2px solid aqua;
}

#cool {
  height: 100%;
  background-color: aqua;
}

#picture1 {
  background-image: url(/images/02-portfolio-2.jpg);
  height: 30rem;
  opacity: 0.7;
}

#picture2 {
  background-image: url(/images/02-portfolio-1.jpg);
}

#picture3 {
  background-image: url(/images/02-portfolio-3.jpg);
}

#picture4 {
  background-image: url(/images/02-portfolio-4.jpg);
}

#picture5 {
  background-image: url(/images/02-run-buddy.jpg);
}

#picture2,
#picture3,
#picture4,
#picture5 {
  background-size: cover;
  opacity: 0.7;
  height: 10rem;
}

#picture1:hover,
#picture2:hover,
#picture3:hover,
#picture4:hover,
#picture5:hover {
  opacity: 1;
}

.worktext {
  background-color: rgba(0, 255, 255, 0.6);
}

.contact-content ul li {
  list-style-type: none;
  margin-left: 1rem;
  margin-right: 1rem;
  width: fit-content;
}
.contact-content ul {
  display: flex;
}


@media only screen and (max-width: 800px) {
  .about.text-sm-left {
    text-align: left;
  }

  #picture1 {
    height: 10rem;
  }

  #picture1 .worktext {
    background-color: greenyellow;
    width: auto;
  }

  .work h2,
  .about h2,
  .contact h2 {
    width: fit-content;
    border-right: none !important;
    border-bottom: 3px solid #000000;
    text-align: left !important;
  }

  .contact-content ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .contact-content ul li {
    padding: 0;
    margin: 0;
  }
}